{erl_opts, [debug_info]}.
{deps, [pgo,
        eql]}.

{profiles, [{test, [{erl_opts, [nowarn_export_all]},
                    {deps, [{erleans, {git, "https://github.com/erleans/erleans", {branch, "global-refactor"}}}]}]}]}.

{ct_opts, [{ct_hooks, [cth_surefire]},
           {sys_config, "test/sys.config"}]}.

{shell, [{apps, [erleans_provider_pgo]}]}.

{project_plugins, [covertool]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.
{covertool, [{coverdata_files, ["ct.coverdata"]}]}.
